@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  .transition-100{
    @apply transition-all duration-100 ease-in-out
  }

  .transition-150{
    @apply transition-all duration-150 ease-in-out
  }

  .transition-200{
    @apply transition-all duration-200 ease-in-out
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  
  .content-visibility-visible{
    content-visibility: visible;
  }

  .content-visibility-hidden{
    content-visibility: hidden;
  }

  .content-visibility-auto{
    content-visibility: auto;
  }

  .custom-svg{
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

:root {
  --background-color: rgba(255, 255, 255, 1);
  --scrollbar-track: rgba(0, 0, 0, 1);
  --scrollbar-thumb: rgba(255, 255, 255, 1);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.75);
}

@layer base {
  img {
      pointer-events: none;
  }

  b{
    @apply font-normal
  }
  
  input, textarea, button{
    @apply outline-none focus-visible:outline-none bg-transparent border-0 rounded-none
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
  }
  
  input[type=search]::-ms-clear {
    @apply hidden size-0
  }
  
  input[type=search]::-ms-reveal {
    @apply hidden size-0
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    @apply hidden
  }
  
  input[type=number] {
    appearance:textfield;
    -moz-appearance:textfield;
  }

  ::-ms-reveal{
    @apply hidden
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  cursor: pointer;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

@media (max-width: 640px){
  ::-webkit-scrollbar {
    display: none;
  }
}