@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background-color: rgba(255, 255, 255, 1);
  --scrollbar-track: rgba(0, 0, 0, 1);
  --scrollbar-thumb: rgba(255, 255, 255, 1);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance:textfield;
    -moz-appearance:textfield;
}

@media (max-width: 640px){
  ::-webkit-scrollbar {
    display: none;
  }
}